<div class="admin-client-container">
  <form [formGroup]="saveClientForm" (ngSubmit)="saveClient(saveClientForm.value)">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombres" formControlName="name">
      <mat-error *ngIf="saveClientForm.controls['name'].hasError('required')">
        Nombre es requerido.
      </mat-error>
      <mat-error *ngIf="saveClientForm.controls['name'].hasError('pattern')">
          Solo letras.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Apellidos" formControlName="lastName">
      <mat-error *ngIf="saveClientForm.controls['lastName'].hasError('required')">
        Apellido es requerido.
      </mat-error>
      <mat-error *ngIf="saveClientForm.controls['lastName'].hasError('pattern')">
          Solo letras.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input matInput placeholder="Edad" formControlName="age">
      <mat-error *ngIf="saveClientForm.controls['age'].hasError('required')">
        Edad es requerido.
      </mat-error>
      <mat-error *ngIf="saveClientForm.controls['age'].hasError('maxlength')">
          Edad solo debe tener como máximo dos digitos.
      </mat-error>
      <mat-error *ngIf="saveClientForm.controls['age'].hasError('pattern')">
          Solo números.
      </mat-error>
    </mat-form-field>
    <div class="container-button">
      <div *ngIf="!saveClientForm.valid">
          <input [disabled]="true" type="submit" class="mat-flat-button mat-button-base" value="Grabar">
      </div>
      <div *ngIf="saveClientForm.valid">
          <input type="submit" class="mat-flat-button mat-button-base mat-primary" value="Grabar" [mat-dialog-close]="true">
      </div>
    </div>
  </form>
</div>
