.admin-client-container{
  display: flex;
  flex-direction: column;
  form{
    margin-bottom: 20px;

    input.mat-flat-button{
      width: 100%;
    }
    .container-button{
      min-height: 80px;
    }
    mat-form-field{
      width: 100%;
      margin-bottom: 20px;
    }
  }
}