<div class="header">
  <div class="header-title">
    <h3 class="title">Listado de Clientes</h3>
  </div>
  <div class="header-toolbar">
    <button mat-flat-button color="primary" (click)="onAddClient()">
      <mat-icon>note_add</mat-icon>&nbsp; Agregar Cliente
    </button>
  </div>
</div>

<div class="sub-header">
  <div class="filter">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>
  <div class="statistics">
      Promedio: {{average}} &nbsp;&nbsp;&nbsp; Desviación Estandar: {{standardDesviation}}
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Edad </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <div class="btn-table">
        <button mat-button color="accent" (click)="onUpdateClient(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="onDeleteClient(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
