/* Structure */
.header{
  display: flex;
  justify-content: space-between;
  border-bottom: .5px solid #cccfd582;
  &-title{
    display: flex;
    align-items: center;
    .title{
      font-weight: normal;
    }
  };
  &-toolbar{
    display: flex;
    align-items: center;
  }
}

.mat-form-field {
  font-size: 13px;
  width: 300px;
  margin-top: 10px;
  display: block;
}

table {
  width: 100%;
}
.btn-table{
  float: right;
}

@mixin mat-table-columns($columns)
{
  .mat-column-
  {
    @each $colName, $props in $columns {
      $width: map-get($props, 'width');

      &#{$colName} 
      {
        flex: $width;
        min-width: $width;
        overflow-wrap: break-Word;
        Word-break: break-Word;
        padding:5px 5px;
      }  
    }
  }
}

@include mat-table-columns((
    name: (width: 35%),
    lastName: (width: 35%),
    age: (width: 10%),
    actions: (width: 20%),
));

@media (min-width: 700px) { 
  .sub-header{
    display: flex;
    justify-content: space-between;
    .filter{
      display: flex;
      align-items: center;
    };
    .statistics{
      display: flex;
      align-items: center;
      font-weight: lighter;
      margin-left: 100px;
    }
  }
}